/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.container .photo {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-image: url(nature.jpg);
  background-size: cover;
}
.container .content {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 50px;
}
.container .content h1 {
  font-size: 55px;
  font-weight: bold;
  padding-top: 30px;
}
.container .content p {
  padding-top: 15px;
  padding-bottom: 30px;
  font-weight: 300;
}
.container .content form input {
  padding: 15px;
  width: 350px;
  border: solid rgb(240, 238, 238) 2px;
  font-weight: bold;
  font-size: 15px;
}
.container .content form button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 130px;
  padding-right: 130px;
  background-color: #84B444;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 15px;
  border-bottom: solid 4px #5e832d;
  border-radius: 5px;
  cursor: pointer;
}
.container .content form p {
  color: silver;
}/*# sourceMappingURL=style.css.map */